<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>各项试验例子</title>
</head>
<body bgcolor="66ffff">
    <center><font size=10px color=red><b><i>各项试验例子</i></b></font></center>
    <br>
    <br>
    <a href="http://127.0.0.1:8000/blog/index/"><li>requests和beautifulsoup静态爬虫</li></a>
    <a href="http://127.0.0.1:8000/blog/good/"><li>Selenium动态爬虫</li></a>
    <a href="http://127.0.0.1:8000/blog/good/"><li>Django web 开发框架</li></a>
    <a href="http://127.0.0.1:8000/blog/good/"><li>Mysql/MangoDB数据库</li></a>
    <li>验证码识别与Cookie登录(见12306登录)</li>
    <a href="http://127.0.0.1:8000/blog/scrapy/"><li>scrapy爬虫框架</li></a>
    <a href="http://127.0.0.1:8000/blog/re/"><li>xpath和正则表达RE</li></a>
    <li>反爬虫策略（百度一下）</li>
    <a href="http://127.0.0.1:8000/blog/xc/"><li>多线程/多线程加速爬虫</li></a>
    <a href="http://127.0.0.1:8000/blog/redis/"><li>redis与分布式爬虫</li></a>
    <a href="http://127.0.0.1:8000/blog/shendu/"><li>深度优先</li></a>
</body>
</html>