<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>scrapy</title>
</head>
<body>
    <center><font size=10px color=brown>redis代码和结果</font></center>
        <br/>
        <br/>
    <font size=6px color=black>redis代码:</font>
        <br/>
        <br/>
    <center><img src="{% static "img/redis.jpg" %}" width="40%" height="40%"></center>
    <center><img src="{% static "img/redis2.jpg" %}" width="40%" height="40%"></center>
    <font size=6px color=black>redis结果:</font>
        <br/>
        <br/>
    <center><img src="{% static "img/redis3-5.png" %}" width="30%" height="30%"></center>
    <center><img src="{% static "img/redis3-4.png" %}" width="30%" height="30%"></center>
    <center><img src="{% static "img/redis3-3.png" %}" width="30%" height="30%"></center>
    <center><img src="{% static "img/redis3-2.png" %}" width="30%" height="30%"></center>
    <center><img src="{% static "img/redis3-1.png" %}" width="30%" height="30%"></center>
</body>
</html>